<nav class = 'navbar navbar-expand navbar-light bg-light'>
    <a class = 'navbar-brand'>{{pageTitle}}</a>
    <ul class = 'nav nav-pills'>
      <li><a class = 'nav-link' routerLink = "/welcome">Home</a></li>
      <li><a class = 'nav-link' routerLink = "/products">Product List</a></li>
      <li><a class = 'nav-link' routerLink = "/addProduct">Add Product</a></li>
    </ul>
    <ul class = 'navbar-nav ml-auto'>
      <li class = 'nav-item'
          *ngIf = 'isLoggedIn'>
        <a class = 'nav-link'>Welcome {{ userName }}</a>
      </li>
      <li class = 'nav-item'>
        <a class = 'nav-link'>Show Messages</a>
      </li>
      <li class = 'nav-item'
          *ngIf = '!isLoggedIn'>
        <a class = 'nav-link' routerLink = "/login">Log In</a>
      </li>
      <li class = 'nav-item'
          *ngIf = 'isLoggedIn'>
        <a class = 'nav-link' (click) = "logOut()" style="cursor: pointer;">Log Out</a>
      </li>
    </ul>
  </nav>
  <div class = 'container'>
    <router-outlet></router-outlet>
  </div>