<div class = 'card'>
    <div class = 'card-header'>
        Add Product
    </div>
    <div class = 'card-body'> 
        <div class = 'row'>
            <div class = 'col-md-8'>
                <div class = 'row'>
                    <div class = 'col-md-4'>*Product Name: </div>
                    <div class = 'col-md-8'><input type='text' placeholder="Name(string)" [(ngModel)] = 'product.productName' style = 'margin-bottom: 10px; width: 500px; padding: 5px' /></div>
                </div>
                <div class = 'row'>
                    <div class = 'col-md-4'>*Product Code: </div>
                    <div class = 'col-md-8'><input type='text' placeholder="Code(string)" [(ngModel)] = 'product.productCode' style = 'margin-bottom: 10px; width: 500px; padding: 5px' /></div>
                </div>
                <div class = 'row'>
                    <div class = 'col-md-4'>*Available Date: </div>
                    <div class = 'col-md-8'><input type='text' placeholder="Date(string)" [(ngModel)] = 'product.releaseDate' style = 'margin-bottom: 10px; width: 500px; padding: 5px' /></div>
                </div>
                <div class = 'row'>
                    <div class = 'col-md-4'>Description: </div>
                    <div class = 'col-md-8'><input type='text' placeholder="Description(string)" [(ngModel)] = 'product.description' style = 'margin-bottom: 10px; width: 500px; padding: 5px' /></div>
                </div>
                <div class = 'row'>
                    <div class = 'col-md-4'>*Price: </div>
                    <div class = 'col-md-8'><input type='text' placeholder="Price(number)" [(ngModel)] = 'product.price' style = 'margin-bottom: 10px; width: 500px; padding: 5px' /></div>
                </div>
                <div class = 'row'>
                    <div class = 'col-md-4'>Rating: </div>
                    <div class = 'col-md-8'><input type='text' placeholder="Rating(1-5)" [(ngModel)] = 'product.starRating' style = 'margin-bottom: 10px; width: 500px; padding: 5px' /></div>
                </div>
                <div class = 'row'>
                    <div class = 'col-md-8'>
                        <button class = 'btn btn-primary' style = 'width: 80px; margin-right: 16px' (click) = 'onSave()'>Save</button>
                        <button class = 'btn btn-outline-secondary' style = 'width: 80px; margin-right: 16px' (click) = 'onCancel()'>Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>