<div class = 'card'>
    <div class = 'card-header'>
        'Add Product'
    </div>
    <div class = 'card-body'> 
        <div class = 'row'>
            <div class = 'col-md-8'>
                <div class = 'row'>
                    <div class = 'col-md-4'>Product Name: </div>
                    <div class = 'col-md-8'><input type='text' [(ngModel)] = 'product?.productName' style = 'margin-bottom: 10px; width: 500px; padding: 5px' /></div>
                </div>
                <div class = 'row'>
                    <div class = 'col-md-4'>Product Code: </div>
                    <div class = 'col-md-8'><input type='text' [(ngModel)] = 'product?.productCode' style = 'margin-bottom: 10px; width: 500px; padding: 5px' /></div>
                </div>
                <div class = 'row'>
                    <div class = 'col-md-4'>Description: </div>
                    <div class = 'col-md-8'><input type='text' [(ngModel)] = 'product?.description' style = 'width: 500px; padding: 5px' /></div>
                </div>
                <div class = 'row' style = 'margin-top: 10px'>
                    <div class = 'col-md-8'>
                        <button class = 'btn btn-primary' style = 'width: 80px; margin-right: 16px' (click) = 'onSave()'>Save</button>
                        <button class = 'btn btn-outline-secondary' style = 'width: 80px; margin-right: 16px' (click) = 'onCancel()'>Cancel</button>
                        <button class = 'btn btn-outline-secondary' style = 'width: 80px' (click) = 'onDelete()'>Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>