<div class='card'>
    <div class='card-header'>
        <span>{{pageTitle}}</span>
        <span class='rating-message'>{{ratingMessage}}</span>
    </div>
    <div class='card-body'>
        <div class = 'row'>
            <app-filter 
                class = 'col-md-10' 
                [FilterOption] = 'filterOption' 
                [ListFilter] = 'listFilter' 
                [hitCount] = 'filteredProducts.length'
                (updatedListFilter) = 'updateListFilter($event)'
                (updatedFilterOption) = 'updateFilterOption($event)'>
            </app-filter>
        </div>
        <div class='table-responsive'>
            <table class='table' *ngIf = 'products?.length'>
                <thead>
                    <tr>
                        <th>
                            <button class='btn btn-primary' (click) = 'toggleImage()'>
                                {{ buttonText }} 
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = 'let product of filteredProducts'>
                        <td> 
                            <img *ngIf = 'showImage'
                                [src] = 'product.imageUrl' 
                                [style.width.px] = 'imageWidth'
                                [style.margin.px] = 'imageMargin' />
                        </td>
                        <td>
                            <a [routerLink] = "['/products', product.productId]">
                                {{ product.productName }}
                            </a>
                        </td>
                        <td>{{ product.productCode | lowercase | convertToSpaces : '-' }}</td>
                        <td>{{ product.releaseDate }}</td>
                        <td>{{ product.price | currency : USD : symbol : '1.2-2' }}</td>
                        <td><pm-star [rating] = 'product.starRating' (ratingClicked) = 'onRatingClicked($event)'></pm-star></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>