<div class = 'card' *ngIf = 'product' style = 'border-color: #0062cc'>
    <div class = 'card-header' style = "background-color: #0062cc; color: #ffffff">
        {{ pageTitle + ': ' + product.productName}}
    </div>
    <div class = 'card-body' *ngIf = 'product'> 
        <div class = 'wizard'>
            <a [routerLink] = "['info']">
                Basic Information
            </a>
        </div>
        <router-outlet></router-outlet>
        <div class = 'row' style = 'margin-top: 10px'>
            <div class = 'col-md-8'>
                <button class = 'btn btn-primary' style = 'width: 80px; margin-right: 16px' (click) = 'onSave()'>Save</button>
                <button class = 'btn btn-outline-secondary' style = 'width: 80px; margin-right: 16px' (click) = 'onCancel()'>Cancel</button>
                <button class = 'btn btn-outline-secondary' style = 'width: 80px' (click) = 'onDelete()'>Delete</button>
            </div>
        </div>
    </div>
</div>