<div class = 'card' style = 'border-color: #0062cc'>
    <div class = 'card-header' style = "background-color: #0062cc; color: #ffffff">
        Add Product
    </div>
    <div class = 'card-body'> 
        <div class = 'row'>
            <div class = 'col-md-8'>
                <div class = 'row'>
                    <div class = 'col-md-4'>*Product Name: </div>
                    <div class = 'col-md-8'><input type='text' placeholder="Name" [(ngModel)] = 'product.productName' style = 'margin-bottom: 10px; width: 500px; padding: 5px' required /></div>
                </div>
                <div class = 'row'>
                    <div class = 'col-md-4'>*Product Code: </div>
                    <div class = 'col-md-8'><input type='text' placeholder="Code" [(ngModel)] = 'product.productCode' style = 'margin-bottom: 10px; width: 500px; padding: 5px' required /></div>
                </div>
                <div class = 'row'>
                    <div class = 'col-md-4'>*Available Date: </div>
                    <div class = 'col-md-8'><input type='date' placeholder="Date" [(ngModel)] = 'product.releaseDate' style = 'margin-bottom: 10px; width: 500px; padding: 5px' required /></div>
                </div>
                <div class = 'row'>
                    <div class = 'col-md-4'>Description: </div>
                    <div class = 'col-md-8'><input type='text' placeholder="Description" [(ngModel)] = 'product.description' style = 'margin-bottom: 10px; width: 500px; padding: 5px' /></div>
                </div>
                <div class = 'row'>
                    <div class = 'col-md-4'>*Price: </div>
                    <div class = 'col-md-8'><input type='number' placeholder="Price" [(ngModel)] = 'product.price' style = 'margin-bottom: 10px; width: 500px; padding: 5px' required /></div>
                </div>
                <div class = 'row'>
                    <div class = 'col-md-4'>Rating: </div>
                    <div class = 'col-md-8'><input type='number' placeholder="Rating (1-5)" [(ngModel)] = 'product.starRating' style = 'margin-bottom: 10px; width: 500px; padding: 5px' min = '1' max = '5' /></div>
                </div>
                <div class = 'row'>
                    <div class = 'col-md-8'>
                        <button class = 'btn btn-primary' style = 'width: 80px; margin-right: 16px' (click) = 'onSave()' [disabled] = '!validate()'>Save</button>
                        <button class = 'btn btn-outline-secondary' style = 'width: 80px; margin-right: 16px' (click) = 'onCancel()'>Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>