<div class = 'row'  style = 'margin-top: 20px'>
    <div class = 'col-md-8'>
        <div class = 'row'>
            <div class = 'col-md-4'>Product Name: </div>
            <div class = 'col-md-8'><input type='text' [(ngModel)] = 'product.productName' style = 'margin-bottom: 10px; width: 500px; padding: 5px' /></div>
        </div>
        <div class = 'row'>
            <div class = 'col-md-4'>Product Code: </div>
            <div class = 'col-md-8'><input type='text' [(ngModel)] = 'product.productCode' style = 'margin-bottom: 10px; width: 500px; padding: 5px' /></div>
        </div>
        <div class = 'row'>
            <div class = 'col-md-4'>Description: </div>
            <div class = 'col-md-8'><input type='text' [(ngModel)] = 'product.description' style = 'width: 500px; padding: 5px' /></div>
        </div>
    </div>
</div>